nav
{
    background-color: #1E202B ;
}
nav span
{
    font-size: smaller;
}
nav ul li a:hover
{
    border: 1px solid #0dcaf0;
    border-radius: 50rem;
    color: #0dcaf0 !important;
}
section
{
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    min-height: 65vh;
    background-color: #1E202B;
}
footer
{
    background-color: #262936;
}
input
{
    background-color: #1E202B !important;
    border: none !important;
    outline: none;
    color:white !important;
}
footer span
{
    background-color: #1E202B;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
footer span:hover
{
    background-color: #0dcaf0;
    color: white !important;
}

.box
{
    background-color: #323544;
    >.top
    {
        background-color: #2D303D;
    }
}
.box-2
{
    background-color: #262936;
    >.top
    {
        background-color: #222530;
    }
}
.deg
{
    font-size: 5.625rem;
}